@mixin flex-justify ($justifyContent: space-between) {
    display: flex;
    justify-content: $justifyContent;
}

@mixin sales-bg ($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}