:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink: #F16D7F;
    --dark-pink: #E05C6E;
    --white: #ffffff;
    --grey: #9F9F9F;
    --grey-input: #E1E1E1;
    --light-grey: #F8F8F8;

}

$tablet-size: 768px;
$mobile-size: 375px;