.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 0 96px 0;

    &__title {
        font-size: 30px;
        line-height: 36px;
        text-transform: capitalize;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
        color: var(--grey);
    }

    &__list {
        @include flex-justify(center);
        flex-wrap: wrap;
        gap: 30px;
        margin: 48px 0;

        @include tablet {
            gap: 8px
        }
    }

    &__item {
        max-width: 360px;
        background-color: var(--light-grey);
    }

    &__add-cart {
        position: relative;
        transition: 0.4s;

        &:hover>&-btn {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &:hover::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 3px;
            background: var(--black);
            opacity: 0.86;
            z-index: 1;
        }
    }

    &__add-cart-btn {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: none;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        text-align: end;
        color: var(--white);
        fill: var(--white);
        padding: 8px 16px;
        border: 1px solid var(--white);
        background: initial;
        z-index: 2;
        transition: 0.4s;

        &:hover {
            color: var(--pink);
            border: 1px solid var(--pink);
            fill: var(--pink);
        }

        &:active {
            color: var(--dark-pink);
            border: 1px solid var(--dark-pink);
            fill: var(--dark-pink);
        }

    }

    &__link {
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--pink);
        padding: 16px 40px;
        border: 1px solid var(--pink);
        transition: 0.4s;

        &:hover {
            color: var(--white);
            background-color: var(--pink);
        }

        &:active {
            color: var(--white);
            background-color: var(--dark-pink);
        }
    }
}

.product-item {

    &__wrp {
        padding: 20px 16px;
    }

    &__title {
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--black);
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: var(--grey);
        margin: 12px 0 18px;
    }

    &__price {
        font-size: 16px;
        line-height: 19px;
        color: var(--pink);
    }
}